body {
    font-family: 'Cinzel', serif;
    /* margin: 10px; */
    /* padding: 5px; */
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    text-align: center;
}

.site-header {
    border-bottom: 1px solid #ccc;
    padding: .5em 1em;
    background-image: linear-gradient(to left, #1abc9c, #553c9a);
}

.site-header::after {
    content: "";
    display: table;
    clear: both;
}

.site-identity {
    float: left;
}

.site-identity h1 {
    font-size: 1.5em;
    margin: .7em 0 .3em 0;
    display: inline-block;
}

.site-identity img {
    max-width: 55px;
    float: left;
    margin: 0 10px 0 0;
}

.site-navigation {
    float: right;
}

.site-navigation ul,
li {
    margin: 0;
    padding: 0;
}

.site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
}

footer {    
    height: auto;
    background-image: linear-gradient(to right, #1abc9c, #553c9a);
    color: white;
    text-align: center;
}

@media screen and (max-width: 768px) {
    header {flex-direction: column;
       } 
}

@media screen and (min-width: 992px){
    header {
        width: 100%;
    }
}

